<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret lejeaftale</title>
</head>
<body>

<h1>Opret lejeaftale</h1>

<form th:action="@{/lejeaftaler/opret}" method="post" th:object="${lejeaftale}">

    <input type="number" th:field="*{kundeID}" placeholder="Kunde ID" required>

    <input type="text" th:field="*{vognnummer}" placeholder="Vognnummer" required>

    <input type="date" th:field="*{startDato}" required>
    <input type="date" th:field="*{slutDato}" required>

    <select th:field="*{abonnementsType}" required>
        <option value="">Vælg abonnement</option>
        <option th:each="a : ${abonnementstyper}"
                th:value="${a}"
                th:text="${a}">
        </option>
    </select>

    <input type="number" step="0.01" th:field="*{maanedligPris}" placeholder="Pris pr. måned" required>

    <button type="submit">Opret lejeaftale</button>

</form>


</body>
</html>
