<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret skade</title>
</head>
<body>
<h1>Opret skade</h1>

<form th:action="@{/skader/opret}" method="post" th:object="${skade}">
  <input type="hidden" th:field="*{rapportID}">

  <input type="text" th:field="*{beskrivelse}" placeholder="Beskrivelse" required>
  <input type="number" step="0.01" th:field="*{pris}" placeholder="Pris" required>

  <button type="submit">Tilføj skade</button>
</form>

</body>
</html>