<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret kunde</title>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<h1>Opret kunde</h1>

<form th:action="@{/kunder/opret}" method="post" th:object="${kunde}">

    <input type="number" th:field="*{koerekortNummer}" placeholder="Kørekortnummer" required>
    <input type="text" th:field="*{cprNummer}" placeholder="CPR-nummer" required>
    <input type="text" th:field="*{navn}" placeholder="Navn" required>
    <input type="text" th:field="*{adresse}" placeholder="Adresse" required>
    <input type="text" th:field="*{telefon}" placeholder="Telefon" required>
    <input type="email" th:field="*{email}" placeholder="Email" required>

    <button type="submit">Opret kunde</button>

</form>


</body>
</html>
